@font-face {
	font-family: "OpenSans";
	src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "OpenSansBold";
	src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
	font-style: bold;
	font-weight: bold;
}

