/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1192px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	#feedback-form{
		bottom: -500px;
	}

	.left, .right{
		text-align: center;
	}

	.text{
		margin: 0;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#feedback-form{
		bottom: -465px;
	}	

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.about img{
		width:300px;
	}

	input[type=text], .input-bloc, .wrapper-button,#send {
		width: 200px;
	}


	/* Custom, iPhone Retina */
	@media only screen and (max-width : 320px) {
		.about img{
			width:250px;
		}
	}


	/*==========  Mobile First Method  ==========*/

	/* Custom, iPhone Retina */
	@media only screen and (min-width : 320px) {

	}

	/* Extra Small Devices, Phones */
	@media only screen and (min-width : 480px) {

	}

	/* Small Devices, Tablets */
	@media only screen and (min-width : 768px) {

	}

	/* Medium Devices, Desktops */
	@media only screen and (min-width : 992px) {

	}

	/* Large Devices, Wide Screens */
	@media only screen and (min-width : 1200px) {

	}